<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Rapport {{ formatted_signal_id }} er tildelt {% if assigned_to_user %}dig{% else %}{{ assigned_to_department }}{% endif %}</title>
</head>
<body>
    <p>
        Kære {{ recipient_full_name }},
    </p>

    <p>
        Følgende rapport er tildelt {% if assigned_to_user %}dig{% else %}{{ assigned_to_department }}{% endif %}:
    </p>

    <p>
        Nummer: <i>{{ formatted_signal_id }}</i><br />
        Underkategori: <i>{{ sub_category_public_name }}</i><br/>
        Rapporteret den: <i>{{ created_at|date:"DATETIME_FORMAT" }}</i><br/>
    </p>

    <a href="{{ signal_url }}">{{ signal_url }}</a>

    <p>
        Med venlig hilsen,
        <br/>
        {{ ORGANIZATION_NAME }}
    </p>
</body>
</html>