<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Din rapport {{ formatted_signal_id }}</title>
</head>
<body>
    <p>
        <h1>Kære behandler,</h1>
    </p>

    <p>
        Tak for udfyldelsen af handlingsformularen. Din information hjælper os med at behandle rapporten.
    </p>

    <p>
        <strong>Du lod os vide følgende</strong>
        {{ reaction_text }}
    </p>

    <p>
        <strong>Oplysninger om rapporten</strong><br>
        Nummer: {{ formatted_signal_id }}<br>
        Rapporteret den: {{ created_at|date:"DATETIME_FORMAT" }}<br>
        Placering: {% if address %}{{ address|format_address:"O hlT, P W" }}{% endif %}<br>
    </p>

    <p>
        Med venlig hilsen,
        <br/>
        {{ ORGANIZATION_NAME }}
    </p>
</body>
</html>