<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Anmodning om at håndtere Signal rapport {{ formatted_signal_id }}</title>
</head>
<body>
    <p>
        Kære behandler,
    </p>

    <p>
        En rapport er modtaget af kommunen. Vil du venligst undersøge den og lade os vide, om du kan håndtere den.
    </p>

    <p>
        <strong>Hvad kan du gøre?</strong><br>
        Du kan se og håndtere rapporten med det samme. Når rapporten er behandlet, vil vi gerne modtage en besked.<br>
        <a href="{{ reaction_url }}">Se handlingen</a>
    </p>

    <p>
        Nummer: {{ formatted_signal_id }}
    </p>

    <p>
        Med venlig hilsen,<br>
        {{ ORGANIZATION_NAME }}
    </p>
</body>
</html>